.nav-tt{
    background-color: rgb(70, 206, 188);
    display: flex;
    align-items: center;
    padding: 1%;
    color: white;
    position: relative;
}

.buttonstyle-tt{
    color: darkgray;
    border: 1px;
    border-radius: 20px;
}
